{% extends "bootstrap/base.html" %}

{% block title %}
    Events
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}


{% block scripts %}
{{super()}}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-light">
      <a class="navbar-brand" href={{url_for('home')}}>
        <img src="{{ url_for('static', filename='assets/schedule.png') }}" width="30" height="30" class="d-inline-block align-top" alt="book-logo">
        Events
      </a>
    <a class="nav-item nav-link" href="{{url_for('login')}}">Login</a>
    </nav>
{% endblock %}


{% block content %}


<div class="container">
    <div class="row align-items-center" style="margin-top:100px;">

        <div class="col"></div>
        <div class="col-12 align-items-center">
            <div class="align-items-left">{% block custom_title %} {% endblock %}</div>
        <div class="row line-break"></div>
            {% block custom_content %}  {% endblock %}

        </div>
        <div class="col"></div>

    </div>

</div>

{% block footer %}{% endblock %}

{% endblock %}
